.ui-text{
  color: #737475;
}

.fa-rotate-45 {
  -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}

.fa-rotate-135 {
  -webkit-transform:rotate(135deg); -moz-transform:rotate(135deg); -ms-transform:rotate(135deg);
  -o-transform:rotate(135deg);
  transform:rotate(135deg);
}

.btn-pressed {
  background-color:#ddd;
  background-image:none;
}

.btn:disabled,
.btn[disabled] {
  background-color:red !important;
  border-color: #C9C8C9;
  background-color: #D2D0D2;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#D2D0D2),color-stop(100%,#29a03b));
  background-image: -webkit-linear-gradient(top,#D2D0D2 0,#D2D0D2 100%);
  background-image: linear-gradient(to bottom,#D2D0D2 0,#D2D0D2 100%);
  color: #F7F7F7;
}

/* phylotree */

span.fasta-pane-entry {
  white-space: nowrap;
}

span.fasta-pane-entry.selected {
  color: #3182bd;
}

span.fasta-pane-entry-header{
  font-weight: bold;
}

span.fasta-pane-entry-sequence{
  font-family: Courier, Monaco, monospace;
}

.branch-selected {
  stroke: #3182bd !important;
  stroke-width: 4px !important;
}

.node-fangorn-marked {
  fill: #e6550d !important;
  font-weight: bold;
}

.node {
  font-style: italic;
}

.node-selected {
  fill: #3182bd !important;
}

.selection {
  fill: #ADD8E6;
  stroke: #ADD8E6;
  fill-opacity: 0.3;
  stroke-opacity: 0.7;
  stroke-width: 2;
  stroke-dasharray: 5, 5;
}

.bootstrap {
  font: 8px sans-serif;
}

dialog {
    padding: 0;
    border: 1px solid #bebebe;
    border-radius: 6px;
    box-shadow: 0 0 30px rgba(0,0,0,.1);
    overflow: hidden;
    width: 400px;

    /* if you want a non-default backdrop: */
    &::backdrop {
        background: rgba(0,0,0,.2);   /* the default is rgba(0,0,0,.1) */
    }
}

/* Icons */

.custom-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
  background-color: #737475;
}

.custom-icon-remove-selected {
  -webkit-mask-image: url(../img/icons/icon-remove-selected.svg);
  mask-image: url(../img/icons/icon-remove-selected.svg);
}

.custom-icon-keep-selected {
  -webkit-mask-image: url(../img/icons/icon-keep-selected.svg);
  mask-image: url(../img/icons/icon-keep-selected.svg);
}

.custom-icon-restore-selected {
  -webkit-mask-image: url(../img/icons/icon-restore-selected.svg);
  mask-image: url(../img/icons/icon-restore-selected.svg);
}

.a-color-picker {
  position: absolute;
  cursor: pointer;
  z-index: 100;
  margin-top: 10px;
  margin-left: 327px;
}

.branch-color {
  width:16px;
  height:16px;
}

#change-branch-color-box.no-color {
  background: repeating-linear-gradient(
    45deg,
    grey,
    grey 5px,
    white 5px,
    white 10px
  );
}

#remove-branch-color-box {
  background: repeating-linear-gradient(
    45deg,
    white 0px,
    white 10px,
    red 10px,
    red 13px
  );
}

.gutter {
  cursor: col-resize;
  background-color: #f5f5f4;
}

.tree-scale-bar .domain, .tree-scale-bar .tick line {
  stroke: #999;
}

.tree-scale-bar .tick text {
  fill: #999;
}
